.grid {

  max-width: 100%;
  width: 90em;
  padding-top: 1em;
  text-transform: uppercase;
  font-size: 1.5rem;
  position: relative;

  .gutter-sizer {
    width: _grid(tile-gutter);
  }

  .grid-sizer {
    width: _grid(tile-gutter);
  }

  ul {

    padding: 0;
    margin: 0;

    li {
      font-size: 0.55em;
      padding: 0;
      margin: 0 0 1em 0;
    }

  }


  *[class^='col-12'],
  *[class *=' col-12'] {
    width: 100%;
  }

  .col-11 {

    &-l{
      width: 90.66666667%;
    }

    &-r {
      width: 91.33333333%;
    }

  }
  .col-10 {

    &-l{
      width: 82.66666667%;
    }

    &-r {
      width: 83.33333333%;
    }
  }

  .col-9 {

    &-l{
      width: 72.66666667%;
    }

    &-r {
      width: 73.66666667%;
    }
  }
  .col-8 {

    &-l{
      width: 64.66666667%;
    }

    &-r {
      width: 65.33333333%;
    }
  }
  .col-7 {

    &-l{
      width: 58.33333333%;
    }

    &-r {
      width: 59.33333333%;
    }
  }

  .col-6 {
    &-l {
      width: 48.66666667%;
    }

    &-r {
      width: 49.33333333%;
    }
  }

  *[class^='col-6'],
  *[class *=' col-6'] {
    //width: 49.49999999%;
    //width: 48.66666667%;

    &-l {
      width: 48.66666667%;
    }

    &-r {
      width: 47.66666667%;
    }

  }

  .col-5 {

    &-l{
      width: 38.66666667%;
    }

    &-r {
      width: 39.66666667%;
    }
  }

  .col-4 {

    width: 31%;

    &-l{
      width: 32.66666667%;
    }

    &-r {
      width: 33.33333333%;
    }
  }
  .col-3 {

    width: 23.66666667%;

    &-l{
      width: 24.33333333%;
    }

    &-r {
      width: 25.33333333%;
    }

  }

  .col-2 {

    &-l{
      width: 14.66666667%;
    }

    &-r {
      width: 15.33333333%;
    }
  }

  .col-1 {

    &-l{
      width: 6.66666667%;
    }

    &-r {
      width: 7.33333333%;
    }
  }

  .spotlight-tile {
    background-color: #FCE795 !important;
  }

  .grid-item {

    background: _palette(bg);
    font-size: 1em;
    letter-spacing: 0.15em;
    height: _grid(tile-height);
    margin-bottom: _grid(tile-margin-bottom);
    border-bottom: solid 5px _palette(border);
    overflow: hidden;
    position: relative;
    opacity: 0;
    float: left;

    @include vendor('transition', ( 'all #{_duration(transition)} ease' ));
    @include vendor('transform', 'translateY(120px)');

    > a {

        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 4000;
        border: none !important;
        font-size: 1em !important;
        color: _palette(fg) !important;
    }

    &.detail {
      cursor: pointer;
    }

    div.title {

      width: 100%;
      position: absolute;
      font-size: 0.4em;
      letter-spacing: 0.1em;
      padding: 15px 20px;
      text-align: left;
      overflow: hidden;
      opacity: 0;
      bottom: 0;
      font-family: _font(family-grid);

      @include vendor('transition', 'top, bottom #{_duration(transition)} ease');
      @include vendor('transition', 'opacity #{_duration(fade)} ease');


      &.touch {
        opacity: 1 !important;
      }

      &.slide-bottom {
        bottom: -100%;
      }

      &.slide-top {
        top: -100%;
      }

      a {
        float: right;
        font-size: 1.5em;
      }

      &.display-inactive {
        display: none !important;
      }

    }

    i.fa,
    a.fa {
      padding-top: 4px;
      font-size: 1.5em;
      float: right;

      &.fa-github {
        padding-top: 0;
        font-size: 2em;
      }
    }

    .button {

      i.fa,
      a.fa {

        margin-right: 0.2em;
      }

    }

    &.light {
      div.title {
        color: _palette(bg);
      }
    }

    &.origin-bottom {

      div.title {
        bottom: 0 !important;
      }

    }

    &.origin-top {

      div.title {
        top: 0 !important;
      }

    }

    div.text-container {
      position: absolute;
      padding: 1em;
      z-index: 100;
      color: #3c3b3b;

      h2,
      ul,
      li {
        font-family: _font(family-grid) !important;
      }

    }

    div.details {

      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -100%;
      font-size: 0.5em !important;
      letter-spacing: 0.15rem;
      padding: 15px 20px;
      background-color: #FCE795;
      font-family: _font(family-grid) !important;
      cursor: auto;

      h2 {
        font-family: _font(family-grid);
        font-size: 0.8em !important;
        margin-bottom: 3em !important;
      }

      p {
        //font-size: 1.1em;

        font-size: 1em;
        color: #4c4c4c !important;
        letter-spacing: normal !important;
        text-transform: none !important;
        margin-bottom: .5em !important;
      }

      div.work-description {
        padding: 0 1em;
        float: left;
        width: 64.66666667%;
        margin-right: 2%;

        p {
          text-align: justify;
        }
      }

      div.work-specs {
        padding: 0 1em;
        float: left;
        width: 33.33333333% !important;
      }

      &.tall {

        div.work-description {
          float: none;
          width: 95%;
          margin-right: 0 !important;
          margin-bottom: 1em;

        }

        div.work-specs {
          float: none;
          width: 95% !important;
        }

      }

      @include vendor('transition', 'bottom #{_duration(transition)} ease');

      &.display-active {
        bottom: 0 !important;
        z-index: 2000 !important;
      }

    }

    &:hover {

      border-bottom-color: _palette(accent);

  		.grid-item-image-container {
  			@include vendor('transform', 'scale(1.05)');
  		}

  		div.title {

        opacity: 1;
        z-index: 1000 !important;

        &.slide-bottom,
        &.origin-bottom {
          bottom: 0 !important;
        }

        &.slide-top,
        &.origin-top {
          top: 0;
        }

  		}

      &:after {
        @include vendor('transition', ( 'all #{_duration(transition)} ease' ));
        background: rgba(251, 251, 251, 0);
      }
    }

    &:after {
      @include vendor('transition', ( 'all #{_duration(transition)} ease' ));
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(251, 251, 251, 0.1);
    }
  }

  .width2 {
    width: _grid(tile-width-extended);
  }
  .half-height {
    height: _grid(tile-half-height);
  }
  .heightplushalf {
    height: _grid(tile-height-plus-half) + _grid(tile-margin-bottom);
  }
  .width-full {
    width: _grid(tile-width-full);
  }

  .grid-item-image-container {
  	width: 100%;
  	height: 100%;
  	@include vendor('transition', 'transform #{_duration(transition)} ease-out');
  }

}

@include breakpoint(medium) {

  .grid {

    .grid-item {

      font-size: 1.1rem !important;

      .title {
        opacity: 1 !important;
      }

      .details {

        p {
          font-size: 1em !important;
        }

      }

    }

  }

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .grid {

      .grid-item {

        .details {

          p {
            font-size: 0.9em !important;
          }

          a.button {
            font-size: 0.7em !important;
          }

        }

      }

    }

  }

@include breakpoint(small) {

  .grid {

    .grid-item {

      min-height: 400px !important;
      font-size: 0.6em !important;

      .title {
        opacity: 1 !important;
        font-size: 0.6em !important;
      }

      div.work-description {
        float: none !important;
        width: 100% !important;
        margin-right: 0 !important;
      }

      div.work-specs {
        float: none !important;
        width: 100% !important;
      }

    }

    .text-container {

      ul {
        font-size: 1rem !important;
      }
    }

  }

}

@include breakpoint(xsmall) {

  .grid {

    .grid-item {

      min-height: 400px !important;
      font-size: 1rem !important;

      .title {
        opacity: 1 !important;
        font-size: 0.6em !important;
      }

      div.work-description {
        float: none !important;
        width: 100% !important;
        margin-right: 0 !important;
      }

      div.work-specs {
        float: none !important;
        width: 100% !important;
      }

    }

    .text-container {

      ul {
        font-size: 1.2rem !important;
      }
    }

  }

}
