///
/// Future Imperfect by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Footer */

	#footer {

		padding: 1em 1em 0 1em;
		background: _palette(bg);
		margin-top: 2em;
		overflow: hidden;

		.icons {
			color: _palette(fg-light);
			float: left;
			margin: 0;
		}

		.copyright {
			color: _palette(fg-light);
			font-family: _font(family-heading);
			font-size: 0.7em;
			padding: .5em 1em 2em 1em;
			font-weight: 400;
			letter-spacing: _font(kerning-heading);
			text-transform: uppercase;
			float:right;
		}

		p {
			margin-bottom: 0;
		}

	}
