///
/// Future Imperfect by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Main */

	#main {
		// @include vendor('flex-grow', '1');
		// -ms-flex: 1;
		width: 100%;
		background: _palette(bg);
		padding: 0;
		color: #3c3b3b;
		font-family: "Raleway", "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 400;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-size: 2.2em;
		//background:	 _palette(bg) url("../me.jpg") top right/40% no-repeat;
	}

	li {
		list-style-type: none;

		margin: 0;
		padding: 0;
	}

	span.bold {
		font-weight: 800 !important;
	}

	a {
		cursor: pointer;
	}

	p {
		padding: 1em;
		margin: 0;
	}

	.map-image {
		width: 100%;
		max-width: 100%;
		max-height: auto;
		height: auto;
	}

	#map {
		position: absolute;
    top: 0;
    left: 0;
    width: 100%;
		height: 100%;
		letter-spacing: normal;
		border-top: dotted 1px _palette(fg);
		border-bottom: dotted 1px _palette(fg);
		background-color: _palette(bg) !important;
	}

	p.image-text {
		position: absolute;
		z-index: 100;
		color: #3c3b3b;
		//font-size: 1.2em;

	}

	.image-container {
    position: relative;
    width: 100%;
		height: 400px;
	}

.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
		height: 100%;
		display: block;
    background: rgba(240, 240, 240, 0.1);
}

#start {

	//@include vendor('display', 'flex');
	//@include vendor('flex-direction', 'row-reverse');
//	height: 400px;

	#section1 {
	//	width:	60%;
	//height: 100%;

	}

	#section2 {
	//	width: 40%;
		max-height: 400px;
		height: 400px;
		background:	 _palette(bg) url("../me.jpg") center/cover no-repeat;
	}

}

.project-row {
	border-bottom: dotted 1px _palette(fg);
}

.project-tile {
	height: 300px;
	max-height: 300px;
//	padding: 0;
	position: relative;

	> div {
		height: 100%;
		background:	url("../me.jpg") rgba(240, 240, 240, 1) center/cover no-repeat;

	}

}

// .project-tile:after {
//   content: " ";
//   z-index: 10;
//   display: block;
//   position: absolute;
//   height: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
//   background: rgba(0, 0, 0, 0.5);
// }

.project-tile:first-child {
//	padding: 0 0 0 1em;
}

.project-tile:first-child:after{
//	left: 1em;
}


.form-container {

	border-top: dotted 1px _palette(fg);
	padding: 0 1em 1em 1em;

	p {
		padding: 1em 0;
		//border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
	}

	form {
		font-size: .5em;
		letter-spacing: normal;
	}

}
