/* Main */
#main {
  width: 100%;
  background: _palette(bg);
  padding: 0;
  color: #3c3b3b;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 2em;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span.bold {
  font-weight: 800 !important;
}
a {
  cursor: pointer;
}

.fa {

  text-decoration: none !important;
  border: none !important;

}

.map-image {
  width: 100%;
  max-width: 100%;
  max-height: auto;
  height: auto;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  letter-spacing: normal;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(240, 240, 240, 0.2);
}
#start {
  @include vendor('display', 'flex');
  #section1 {
    //	width:	60%;
    //height: 100%;
    width: 66.666666%;
    padding-left: 0 !important;
    //border-right: 2px solid _palette(accent);
  }
  #section2 {
    width: 33.333333%;
    background: _palette(bg) url(../me.jpg) center/cover no-repeat;
  }
}

#profile-image {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../me.jpg) center/cover no-repeat !important;
}
#violet {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../violets.png) center/75% no-repeat !important;
}

#space {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../space.jpg) center/cover no-repeat !important;
}

#mmp {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../mmp.jpg) center/cover no-repeat !important;
}

#aber-links {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../aber-links-logo.png) center/75% no-repeat !important;
}

#apples-and-pairs {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../apples-and-pairs-logo.png) center/75% no-repeat !important;
}

#orbitaljs {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../orbitaljs.png) center/cover no-repeat !important;
}

#wordwarz {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../wordwarz.png) center/cover no-repeat !important;
}

#tyfi {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../tyfi_logo_full.png) center/55% no-repeat !important;
}

#mob {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  background: url(../mob2.png) center/70% no-repeat !important;
}

.screen-slider {

  position: absolute;
  // height: 67.1%;
  // width: 62.5%;
  // top: 16.5%;
  // left: 18.8%;

  height: 78.1%;
  width: 62.5%;
  top: 12.5%;
  left: 18.8%;

}

.unslider-wrap {
  height: 100% !important;
}

.unslider-arrow,
.unslider-nav {
  display: none !important;
}

#slide1 {
  width: 100%;
  height: 100%;
  background: url(../unnamed.png) center/98% no-repeat !important;
}

#slide2 {
  width: 100%;
  height: 100%;
  background: url(../unnamed2.png) center/98% no-repeat !important;
}

#slide3 {
  width: 100%;
  height: 100%;
  background: url(../unnamed3.png) center/98% no-repeat !important;
}

#slide4 {
  width: 100%;
  height: 100%;
  background: url(../unnamed4.png) center/98% no-repeat !important;
}

#slide5 {
  width: 100%;
  height: 100%;
  background: url(../unnamed5.png) center/98% no-repeat !important;
}

.nav-cont {
  font-size: 0.8em;
  height: 100%;
  padding: 0.5em;
  background: _palette(bg-alt);

  a {
    font-family: _font(family-heading);
    font-size: 0.7em;
    font-weight: _font(weight-heading);
    letter-spacing: _font(kerning-heading);
    text-transform: uppercase;
    text-align: center;
  }
}
#logo {

  height: 100px;
  margin: 0 2em 1em 0;
  overflow: hidden;
  font-size: 0.8em;
  display: flex;
  height: 100%;

  .logo-cont {
    min-width: 100px;
    width: 100px;
    height: 100%;
    padding: 1em;
    background: #fff url(../logo_new.png) center/60% no-repeat;
    border: solid 4px _palette(accent);
  }

}
@media screen and (max-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 100% !important;
  }
  div.tile-row > * {
    padding: 0 1em !important;
  }
  #main {
    letter-spacing: 0.15em;
    font-size: 1.2em;
  }
}

@mixin aspect-ratio($ratio-or-width, $height: null) {
  $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
  &:before { content:''; float: left; padding-bottom: $padding;  }
  &:after  { content:''; display: table; clear: both;  }
}

.mob-container {
  @include aspect-ratio(16,9);
  width: 75% !important;
}
